#navbar{
    flex-direction: column;
    height: 70px;
    width: 108%;
}
#navbar ul li{
    font-size: 15px;
    padding: 0 7px;
}
#navbar ul{
    margin-left: 0;
}
#logo-2 img{
    height: 41px;
    margin: 44px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navbar-2{
    flex-direction: column;
}
#navbar-2 ul{
    margin: 0px;
    display: none;
    padding: 5px;
}
#navbar-2 ul li{
    font-size: 11px;
    display: block;
    flex-wrap: wrap;
}
.btn{
    display: none;
}
#section{
    margin-top: 0;
    padding: 0px 62px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
h1 {
    margin-top: 30px;
}
#aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 26px 0 0 -32px;
    height: 84%;
}
#aside img {
    height: 250px;
    width: 350px;
    margin-top: 340px;
}
#footer {
    background-color: rgb(71, 167, 135);
    width: 107%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 680px;
    position: absolute;
}
.item-1 {
    width: 100px;
    height: 95px;
    border: 1px;
    margin: 17px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
